@using Abcde.WebAppStore.Models;
@model IEnumerable<ProductModel>

<link rel="stylesheet" href="~/Themes/css/style.css" />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var urun in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top"
                     src="~/Upload/@urun.Image"
                     alt="@urun.Name" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="link-text" href="~/Home/Details/@urun.Id">@urun.Name</a>
                    </h5>
                    <p class="card-text description">
                        @urun.Description
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary price-card">@urun.Price $</small>
                    <a class="btn btn-primary btn-sm look-btn" href="~/Home/Details/@urun.Id">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    }

</div>
