@using Abcde.WebAppStore.Models;
@model IEnumerable<ProductModel>

<link rel="stylesheet" href="~/Themes/css/style.css" />

@{
    ViewBag.Title = "Index";
}

@*jumbotron olusturma*@

<div class="container mb-3">
    <div class="row align-items-md-stretch mt-3">
        <div class="col-md-20">
            <div class="h-100 p-5 bg-body-tert border rounded-3 backrd xcenterx">
                <h2 class="xcenterx">Trendyol Pazar Yeri</h2>
                <p>
                    Or, keep it light and add a border for some added definition to the boundaries of your
                    content. Be sure to look under the hood at the source HTML here as we've adjusted the
                    alignment and sizing of both column's content for equal-height.
                </p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>

</div>

@*card deck oluşturma*@

<div class="container mb-3">
    @Html.Partial("_ProductList", Model)
</div>

