@using Abcde.WebAppStore.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!--sidebar olusturma-->
    <div class="col-md-3 ">
        @Html.Action("GetCategories", "Home")
    </div>

    <div class="col-md-9 mt-3">
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                There is no item in this category.
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill"></i>
                <strong>@Model.Count()</strong> items found in this category.
            </div>
        }
        <!--card oluşturma-->
        @Html.Partial("_ProductList", Model)
    </div>
</div>

